NEXT_PUBLIC_SANITY_PROJECT_ID=x4fnelpw
NEXT_PUBLIC_SANITY_DATASET=dev
SANITY_READ_TOKEN=replace-with-read-token
RESEND_API_KEY=rre_PRRZyzT8_DbEagn4SDNHumALsbBkFPjUR
CONTACT_TO_EMAIL=vanvilon@gmail.com
CONTACT_FROM_EMAIL=Villa Monte Calvia <onboarding@resend.dev>
